# Update mutt wizard mail
*/2 * * * * /usr/bin/mw sync
# Update RSS feeds and update dwmblocks
0 * * * * $HOME/.local/bin/newsup
# Update dotfiles in status bar (signal 5 + 34)
1 * * * * kill -39 $(pidof dwmblocks)
# Update time in status bar (signal 6 + 34)
* * * * * kill -40 $(pidof dwmblocks)
# Update battery in status bar (signal 1 + 34)
* * * * * kill -35 $(pidof dwmblocks)
